[Unit]
Description=ZeNis WiFi Manager
Before=zenis.service
After=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/zenis/wifi_manager/wifi_manager.py
Restart=on-failure
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
